<div *ngIf="!isLoaded">Loading...</div>
<div *ngIf="isLoaded">

  <div [ngClass]="{'modal-active': modalDialog}"
       class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p id="modal-message">Do you really want to delete the book:</p>
          <p id="modal-message">"{{ deletedBook.author }} - {{ deletedBook.title }}"?</p>
        </div>
        <div class="modal-footer">
          <button (click)="onDelete()" type="button" class="btn btn-primary">Delete</button>
          <button (click)="onCancelDelete()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="alert alert-{{message.type}}"
    *ngIf="message.text"
  >
    {{message.text}}
  </div>
  <div class="form-group">
    <input type="text" name="search" placeholder="Search" [(ngModel)]="searchValue"
           (keyup)="changeView()"
    >
  </div>
  <div class="clearfix"></div>
  <p>Books</p>
  <table *ngIf="!searchValue">
    <tr>
      <td>№</td>
      <td class="sortable" (click)="setMySort('author')">Author</td>
      <td class="sortable" (click)="setMySort('title')">Title</td>
      <td class="sortable" (click)="setMySort('bookRating')">Book Rating</td>
      <td class="sortable" (click)="setMySort('status')">Status</td>
      <td>Actions</td>
    </tr>
    <tr *ngFor="let book of books ; let idx = index">
      <td>{{ currentNumberOfBooks[idx] }}</td>
      <td>{{ book.author }}</td>
      <td class="book-title" (click)="setChosenBook(book)">{{ book.title }}</td>
      <td>{{ book.bookRating }}</td>
      <td>{{ book.status }}</td>
      <td class="action">
        <div class="action-edit" (click)="onEdit(book._id, book.bookImageName)">Edit</div>
        <div class="action-delete" (click)="onModal(book)">Delete</div>
      </td>
    </tr>
  </table>
  <table *ngIf="searchValue">
    <tr>
      <td>№</td>
      <td class="sortable" (click)="setMySort('author')">Author</td>
      <td class="sortable" (click)="setMySort('title')">Title</td>
      <td class="sortable" (click)="setMySort('bookRating')">Book Rating</td>
      <td class="sortable" (click)="setMySort('status')">Status</td>
      <td>Actions</td>
    </tr>
    <tr *ngFor="let book of books  ; let idx = index">
      <td>{{  currentNumberOfBooks[idx]  }}</td>
      <td>{{ book.author }}</td>
      <td class="book-title" (click)="setChosenBook(book)">{{ book.title }}</td>
      <td>{{ book.bookRating }}</td>
      <td>{{ book.status }}</td>
      <td class="action">
        <div class="action-edit" (click)="onEdit(book._id, book.bookImageName)">Edit</div>
        <div class="action-delete" (click)="onModal(book)">Delete</div>
      </td>
    </tr>
  </table>
  <div *ngIf="controlsArray.length > 0">
    <div id="controls">
      <div *ngFor="let control of controlsArray" class="control-buttons"
           (click)="Update(control)"
           [ngClass]="{'control-active': currentControl === control}"
      >{{ control }}
      </div>
    </div>
  </div>
</div>
