.modal {
  position: fixed;
  top: 15%;
  left: 30%;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  width: 400px;

  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;

    .modal-content {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      outline: 0;

      .modal-body {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1rem;

        #modal-message{
          padding-left: 0;
          font-size: 20px;
        }
      }

      .modal-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        padding: 1rem;
        border-top: 1px solid #e9ecef;

        .btn {
          cursor: pointer;
          display: inline-block;
          font-weight: 400;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border: 1px solid transparent;
          padding: 0.375rem 0.75rem;
          font-size: 1rem;
          line-height: 1.5;
          border-radius: 0.25rem;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .btn-primary {
          color: #fff;
          background-color: #007bff;
          border-color: #007bff;
        }

        .btn-primary:hover {
          color: #fff;
          background-color: #0069d9;
          border-color: #0062cc;
        }

        .btn-secondary {
          color: #fff;
          background-color: #6c757d;
          border-color: #6c757d;
        }

        .btn-secondary:hover {
          color: #fff;
          background-color: #5a6268;
          border-color: #545b62;
        }
      }
    }
  }
}

.modal-active {
  display: block;
}

.alert{
  margin: 10px auto 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 65%;
}

.alert-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.form-group input{
  float: right;
  margin: 50px 100px 0 0;
  border-radius: 5px;
  border: 1.5px solid black;
}

#container{
  width: 80%;
}

#container p{
  margin-left: 50px;
  font-size: 25px;
}

#controls{
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;
  border: 1px solid black;
  margin: 30px auto 0;
  width: 20%;
  overflow: hidden;
  cursor: pointer;

  .control-active{
    background: grey;
  }

  .control-buttons{
    flex: 1 1 auto;
    text-align: center;
    border-right: 1px solid black;
  }

  .control-buttons:last-child{
    border-right: 0;
  }

}

.clearfix{
  clear: both;
}

p {
  text-align: left;
  padding-left: 150px;
  font-size: 30px;
}

table{
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9rem;

  .sortable{
    cursor: pointer;
  }

  tr, td{
    border: 1px solid black;
  }

  tr {
    vertical-align: baseline
  }

  td {
    vertical-align: middle
  }

  .book-title{
    cursor: pointer;
  }

  .action{
    width: 100px;
    border: none;

    .action-edit,.action-delete {
      cursor: pointer;
      display: inline-block;
      border-radius: 5px;
      border: 1px solid black;
    }

    .action-edit{
      background-color: #03A9F4;
    }

    .action-delete{
      background-color: #EF5350;
    }
  }
}
