.alert{
  margin: 250px auto 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 65%;
}

.alert-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

#change{
  width: 920px;
  margin: 0 auto;
  text-align: left;

  .inputWarning{
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 14px;

    #invalid{
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }

    #valid{
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
  }

  #control_buttons {
    margin-left: 280px;

    button{
      width: 100px;
    }
  }

  input, textarea{
    width: 500px;
    margin: 10px 0 0;
  }

  textarea{
    min-height: 300px;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  label{
    text-decoration: underline;
    color: blue;
  }

  .inputfile + label {
    cursor: pointer;
  }
}
