header{
  height: 20px;
  border: 1px solid black;
  text-align: center;
  width: 90%;
  margin: 0 auto;

  .active{
    background-color: #bdbdbd;
  }

  #logout{
    cursor: pointer;
  }

  .header-right{
    float: right;

    a{
      text-decoration: none;
      color: black;
    }
  }

  .header-left{
    float: left;
    width: 100px;
    display: inline-block;

    a{
      text-decoration: none;
      color: black;
    }
  }

  #logout{
    margin-left: 10px;
    height: 100%;
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
}
