<header>
  <!--
  <div class="header-left" routerLinkActive="active"><a [routerLink]="['/system','books']">Books</a></div>
  <div class="header-left" routerLinkActive="active"><a [routerLink]="['/system','add']">Add</a></div>
  <div class="header-left" routerLinkActive="active"><a [routerLink]="['/system','edit']">Edit</a></div>
  -->
  <div class="header-right" id="logout" (click)="onLogout()">exit</div>
  <div class="header-right">{{email}}</div>
</header>
