<div>
  <div *ngIf="step === 0">Loading...</div>
  <div *ngIf="step === 4">
    <div
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >
      {{message.text}}
    </div>
  </div>
  <div *ngIf="step === 5">
    <div
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >
      {{message.text}}
    </div>
  </div>
  <form *ngIf="step === 1" class="auth" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >
      {{message.text}}
    </div>
    <div class="form-group">
      <label id="label-log" for="email">Enter your e-mail</label>
      <input type="text" name="email" id="email" placeholder="email address" formControlName="email">
      <br>
    </div>
    <div class="warning">
      <div *ngIf="form.get('email').invalid && form.get('email').touched">
        <div *ngIf="form.get('email')['errors']['required']">Field e-mail can't be empty</div>
        <div *ngIf="form.get('email')['errors']['email']">Enter correct e-mail</div>
        <div *ngIf="form.get('email')['errors']['validEmail'] === false">User with this e-mail doesn't exist</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid">
        next
      </button>
    </div>
  </form>

  <form *ngIf="step === 2" class="auth" [formGroup]="form" (ngSubmit)="onSubmit()"
        [ngClass]="{'hide': hide}"
  >
    <div
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >
      {{message.text}}
    </div>
    <div class="form-group">
      <label id="label-pass1" for="password1">Enter your new password</label>
      <input type="password" name="login" id="password1" placeholder="password" formControlName="password1">
    </div>
    <div class="warning">
      <div *ngIf="form.get('password1').invalid && form.get('password1').touched">
        <div *ngIf="form.get('password1')['errors']['required']">Field password can't be empty</div>
        <div *ngIf="form.get('password1')['errors']['minlength']">Passwords must be at least 6 characters in length</div>
      </div>
    </div>
    <div class="form-group">
      <label id="label-pass2" for="password2">Confirm new password</label>
      <input type="password" name="login" id="password2" placeholder="password" formControlName="password2">
    </div>
    <div class="warning">
      <div *ngIf="form.get('password2').invalid && form.get('password2').touched">
        <div *ngIf="form.get('password2')['errors']['required']">Field password can't be empty</div>
        <div *ngIf="form.get('password2')['errors']['minlength']">Passwords must be at least 6 characters in length</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid">
        next
      </button>
    </div>
  </form>
</div>

