.hide {
  display: none;
}

.alert{
  margin: 0 auto;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 65%;
}

.alert-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning{
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.warning{
  font-size: 14px;
  color: red;
  margin: 5px 0 5px;
}

.auth{
  max-height: 310px;
  width: 350px;
  border: 1px solid black;
  padding-top: 20px;
  margin: -155px 0 0 -175px;
  position: absolute;
  left: 50%;
  top: 50%;

  .form-group{

    &:first-child{
      margin-top: 20px;
    }
    &:last-child{
      margin-bottom: 30px;
    }

    button{
      margin-top: 15px;
      height: 30px;
      align-self: center;
    }


    label#label-log {
      padding-right: 10px;
    }

    label#label-pass {
      padding-right: 15px;
    }

    label#label-pass1 {
      padding-right: 1px;
    }

    label#label-pass2 {
      padding-right: 15px;
    }

    p {
      padding-right: 80px;
    }
  }
}
