<b>Your registration has been successfully completed!</b>
<br>
<p>Your password in BooksApp - <%= password %>.</p>
<p>If you want to change the password click the link below.</p>
<a href="http://127.0.0.1:4200/resetpassword">Change my password</a>