<!--
<script src="https://apis.google.com/js/platform.js"></script>
<script>
  window.onLoadCallback = function(){
    gapi.auth2.init({
      client_id: 'filler_text_for_client_id.apps.googleusercontent.com'
    });
  }
</script>
-->
<button id="googleBtn" (click)="GoogleSignIn()">Google Sign-In</button>

