<div
  class="alert alert-{{message.type}}"
  *ngIf="message.text"
>
  {{message.text}}
</div>
<book-files-uploader [saveBook]="saveBook"></book-files-uploader>
<form [formGroup]="form" id="change" enctype="multipart/form-data" (ngSubmit)="onSubmit()">

  <!--
  <p>ADD</p>
  <input type="file" name="file" id="file" class="inputfile" #file multiple accept="image/jpeg,image/png"
         (change)="onImageChangeFromFile($event)"
  >
  <label for="file">select the upload</label>
  <div class="inputWarning" >
    <div *ngIf="form.valid && !fileAttached">
      <span id="invalid">Load the image!</span>
    </div>
    <div *ngIf="fileAttached">
      <span id="valid" #inputWarning>Image attached: {{ fileAttachedName }}</span>
    </div>
  </div>
  -->
  <input type="text" name="author" placeholder="Author" formControlName="author">
  <div class="warning">
    <div *ngIf="form.get('author').invalid && form.get('author').touched">
      <div *ngIf="form.get('author')['errors']['required']">Field author can't be empty</div>
    </div>
  </div>
  <br>
  <input type="text" name="title" placeholder="Title" formControlName="title">
  <div class="warning">
    <div *ngIf="form.get('title').invalid && form.get('title').touched">
      <div *ngIf="form.get('title')['errors']['required']">Field title can't be empty</div>
    </div>
  </div>
  <br>
  <textarea formControlName="description"></textarea>
  <div class="warning">
      <div *ngIf="form.get('description').invalid && form.get('description').touched">
        <div *ngIf="form.get('description')['errors']['required']">Field description can't be empty</div>
      </div>
  </div>
  <br>
  <select formControlName="status">
    <option value="status" selected disabled>status</option>
    <option value="ON">ON</option>
    <option value="OFF">OFF</option>
  </select>
  <div class="warning">
    <div *ngIf="form.get('status').invalid && form.get('status').touched">
      <div *ngIf="form.get('status')['errors']['required']">Field status can't be empty</div>
    </div>
  </div>
  <br>
  <div id="control_buttons">
    <button [routerLink]="['/system', 'books']">cancel</button>
    <button (click)="resetAttachments()" type="submit" [disabled]="form.invalid">submit</button>
  </div>
</form>
