<br>
<br>
<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-8 is-offset-2">
          <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
            <p>
              Drag a file here or
              <label class="upload-button">
                <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                browse
              </label>
              to upload.
            </p>
          </div>
        </div>
        <div class="column is-8 is-offset-2">
          <div class="upload-items">
            <div class="upload-item" *ngFor="let f of files; let i = index;">
              <span class="filename">
                <span>{{ f.name }} ({{ f.id }}) - {{ f.progress?.data?.percentage }}%</span>
                <span>uploading with {{ f.progress?.data?.speedHuman }}</span>
                <span>ETA {{ f.progress?.data?.etaHuman }}</span>
              </span>
              <div class="progress">
                <span class="bar" [style.width]="f?.progress?.data?.percentage + '%'"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<button type="button" class="start-upload-btn" (click)="startUpload()">
  Start Upload
</button>
<br>
<br>
<!--
<button type="button" class="cancel-upload-btn" (click)="cancelUpload()">
  Cancel Upload
</button>
<br>
<br>
<button type="button" class="remove-upload-btn" (click)="removeFile()">
  Remove File
</button>
<br>
<br>
<button type="button" class="removeAll-upload-btn" (click)="removeAllFiles()">
  Remove All Files
</button>
<br>
<br>
-->
