#book{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 50px auto 0;

  #image{
    max-width: 400px;
    max-height: 400px;
    flex: 1 1 30%;
    align-self: center;
  }

  #description{
    text-align: left;
    flex: 3 1 500px;
    padding-left: 30px;

    #book_title{
      font-size: 40px;
    }

    #book_rating{
      padding: 25px 0;
    }

    #book_date{
      padding-bottom: 25px;
    }
  }
}

#btn-download{
  margin: 20px 50% 0;
}
