<div id="book">
  <img id="image" #image>
  <div id="description">
    <div id="book_title">{{ chosenBook.author }} - {{ chosenBook.title }}</div>
    <div id="book_rating">{{ chosenBook.bookRating }}</div>
    <div id="book_date">19, Sep 2017</div>
    <div id="book_description">
      {{ chosenBook.description }}
    </div>
  </div>
</div>
<button id="btn-download">Download</button>
