.auth{
  max-height: 250px;
  width: 400px;
  border: 1px solid black;
  margin: -125px 0 0 -200px;
  position: absolute;
  left: 50%;
  top: 50%;

  .warning{
    font-size: 14px;
    color: red;
    margin: 5px 0 1px;
  }

  .form-group{
    display: flex;
    justify-content: center;

    button{
      height: 30px;
      align-self: center;
    }

    label {
      padding-right: 10px;
    }

    label#label-log {
      padding-right: 14px;
    }

    label#label-pass {
      margin-left: -25px;
    }

    p {
      padding-right: 80px;
    }
  }
}
