<div>
  <form class="auth" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>Complete registration form</p>
    <div class="form-group">
      <label id="label-userName" for="userName">Name</label>
      <input type="text" name="userName" id="userName" placeholder="Enter your Name" formControlName="userName">
    </div>
    <div class="warning">
      <div *ngIf="form.get('userName').invalid && form.get('userName').touched">
        <div *ngIf="form.get('userName')['errors']['required']">Field Name can't be empty</div>
      </div>
    </div>
    <div class="form-group">
      <label id="label-log" for="email">login</label>
      <input type="text" name="email" id="email" placeholder="Enter your e-mail" formControlName="email">
    </div>
    <div class="warning">
      <div *ngIf="form.get('email').invalid && form.get('email').touched">
        <div *ngIf="form.get('email')['errors']['required']">Field login can't be empty</div>
        <div *ngIf="form.get('email')['errors']['email']">Enter correct e-mail</div>
        <div *ngIf="form.get('email')['errors']['forbiddenEmail']">This e-mail is already in use</div>
      </div>
    </div>
    <div class="form-group">
      <label id="label-pass" for="password">password</label>
      <input type="password" name="password" id="password" placeholder="Enter your password" formControlName="password">
    </div>
    <div class="warning">
      <div *ngIf="form.get('password').invalid && form.get('password').touched">
        <div *ngIf="form.get('password')['errors']['required']">Field password can't be empty</div>
        <div *ngIf="form.get('password')['errors']['minlength']">
          Passwords must be at least {{form.get('password')['errors']['minlength']['requiredLength']}} characters in length
        </div>
      </div>
    </div>
    <div class="form-group">
      <p>
        Already registered?
        <a [routerLink] = "'/login'">Log in</a>
      </p>
      <button type="submit" [disabled]="form.invalid">
        register
      </button>
    </div>
  </form>
</div>
