#container {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;

  display: flex;
  flex-wrap: nowrap;

  #users-list{
    flex: 0 1 30%;
    border-right: 1px solid black;

    .user{
      border-bottom: 1px solid black;
      cursor: pointer;
    }

    .active-chat{
      background-color: grey;
      color: white;
    }
    /*
    .user:last-child{
      border-bottom: 0;
    }
    */
  }

  #dialogues {
    flex: 0 1 70%;
    position: relative;

    #messages{
      /*
      .align-left{
        text-align: left;
      } */
      margin-bottom: 70px;

      .message{
        text-align: left;
        margin: 30px 0 30px 10px;


        .message-text{
          border: 1px solid black;
          border-radius: 7px;
          padding: 10px;
        }


      }

      .align-right{
        text-align: right;
        margin: 30px 10px 30px 0;
      }

    }


    form {
      background: #000;
      padding: 3px;
      width: 99.5%;
      display: flex;
      flex-wrap: nowrap;
      position: absolute;
      bottom: 0;

      input{
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
      }

      button {
        width: 9%;
        background: rgb(130, 224, 255);
        // border: none;
        padding: 10px;
      }
    }
  }

  #dialogues-empty {
    flex: 0 1 70%;
    display: flex;
    position: relative;

    #greetings-template {
      align-self: center;
      margin-left: 250px;
    }

    form {
      background: #000;
      padding: 3px;
      width: 99.5%;
      display: flex;
      flex-wrap: nowrap;
      position: absolute;
      bottom: 0;

      input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
      }

      button {
        width: 9%;
        background: rgb(130, 224, 255);
        // border: none;
        padding: 10px;
      }
    }
  }
}
