<p>
  chat works!
</p>
<div id="container">
  <div id="users-list">
    <div *ngFor="let user of users" class="user"
         (click)="getChat(user)"
         [ngClass]="{'active-chat': currentUser === user}"

    >
      {{ user.userName }}
    </div>
  </div>
  <div *ngIf="showChat && !noMessages" id="dialogues">
    <div id="messages">
      <div *ngFor="let message of chatHistory" class="message"
           [ngClass]="{'align-right': currentUserID === message.from}"
      >
        <span class="message-text">{{ message.text }}</span>
      </div>
      <!--
      <div class="message align-left">
        <span class="message-text">message1</span>
      </div>
      <div class="message align-right">
        <span class="message-text">message2</span>
      </div>
      <div class="message align-left">
        <span class="message-text">message3</span>
      </div>
      <div class="message align-right">
        <span class="message-text">message4</span>
      </div>
      -->
    </div>
    <form (ngSubmit)="sendMessage(msgForm); msgForm.resetForm()"  #msgForm="ngForm">
      <input type="text" placeholder="Type your message here..." ngModel name="message" required />
      <button type="submit" [disabled]="!msgForm.valid">Send</button>
    </form>
  </div>
  <div *ngIf="showChat && noMessages" id="dialogues-empty">
    <div id="greetings-template">There are no messages in chat yet</div>
    <form (ngSubmit)="sendMessage(msgForm); msgForm.resetForm()"  #msgForm="ngForm">
      <input type="text" placeholder="Type your message here..." ngModel name="message" required />
      <button type="submit" [disabled]="!msgForm.valid">Send</button>
    </form>
  </div>
  <div *ngIf="!showChat" id="dialogues-empty">
    <div id="greetings-template">Welcome to the ChatApp!</div>
  </div>

</div>
