<div>

  <form class="auth" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      class="alert alert-{{message.type}}"
      *ngIf="message.text"
    >
      {{message.text}}
    </div>
    <div class="form-group">
      <label id="label-log" for="email">login</label>
      <input type="text" name="email" id="email" placeholder="email address" formControlName="email">
      <br>

    </div>
    <div class="warning">
        <div *ngIf="form.get('email').invalid && form.get('email').touched">
          <div *ngIf="form.get('email')['errors']['required']">Field e-mail can't be empty</div>
          <div *ngIf="form.get('email')['errors']['email']">Enter correct e-mail</div>
        </div>
    </div>
    <div class="form-group">
      <label id="label-pass" for="password">password</label>
      <input type="password" name="login" id="password" placeholder="password" formControlName="password">
    </div>
    <div class="warning">
      <div *ngIf="form.get('password').invalid && form.get('password').touched">
        <div *ngIf="form.get('password')['errors']['required']">Field password can't be empty</div>
        <div *ngIf="form.get('password')['errors']['minlength']">Passwords must be at least 6 characters in length</div>
      </div>
    </div>
    <div class="form-group">
      <p>
        <a [routerLink] = "'/registration'">sing up</a>
      </p>
      <p>
        <a [routerLink] = "'/resetpassword'">forgot password?</a>
      </p>
      <button type="submit" [disabled]="form.invalid">
        sing in
      </button>
    </div>
  </form>
  <book-google-signin></book-google-signin>
</div>
